[submodule "deps/bit_read_write"]
	path = deps/bit_read_write
	url = git@github.com:OlegDanko/bit_read_write.git
[submodule "deps/websocketpp"]
	path = deps/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "test/deps/FakeIt"]
	path = test/deps/FakeIt
	url = git@github.com:eranpeer/FakeIt.git
[submodule "deps/libevdev"]
	path = deps/libevdev
	url = https://gitlab.freedesktop.org/libevdev/libevdev.git
[submodule "deps/libdatachannel"]
	path = deps/libdatachannel
	url = git@github.com:paullouisageneau/libdatachannel.git
[submodule "deps/FFmpeg"]
	path = deps/FFmpeg
	url = git@github.com:FFmpeg/FFmpeg.git
[submodule "deps/x264"]
	path = deps/x264
	url = https://code.videolan.org/videolan/x264.git
